doctype html
html(lang="en")
  include ../partials/head
  body
    header
      h3
        a(href="/" + collection)=collectionName
      h1
        a(href=pathContent)
          = headline

    #contents.post!=contents
    
