doctype html
html(lang="en")
  include ../partials/head
  body
    header
      h3
        a(href="/" + collection)=collectionName
      h1
        a(href=pathContent)
          = headline

    #contents!=contents
    
    hr

    footer
      | My name is&nbsp;
      address
        a(href="/" rel="author") Frederik Dudzik
      | &nbsp;and I wrote this article. Feel free to&nbsp;
      a(href="/contact") contact me
      | &nbsp;or to check out my&nbsp;
      a(href= "/" + collection + "/archive") other posts
      | .
      br
      | You can follow #{collectionName} through&nbsp;
      a(href="atom.xml") rss
      | .
