/************************/
/*********Vars***********/
/************************/

:root {
    --color-background:            #EEEEEE;
    --color-text:                  #444;
    --color-text-unobtrusive:      rgba(68, 68, 68, 0.8);
    --color-text-unobtrusive-more: rgba(68, 68, 68, 0.4);
    --color-link-hover:            #4f6eb3;
}

/************************/
/*********RESETS*********/
/************************/

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: var(--color-text);
  padding: 0 10px;
  background: var(--color-background);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3 {
  line-height: 1.2;
}

a {
  color: inherit;
  transition: all .2s ease-in;
  position: relative;
}

a:hover {
  color: var(--color-link-hover);
}

a:active {
  top: 1px;
}

hr {
  margin: 40px 0 30px 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

address {
  display: inline;
}

blockquote {
  padding: 0 15px;
  margin: 0;
  color: var(--color-text-unobtrusive);
  border-left: 4px solid var(--color-text-unobtrusive-more);
}

/************************/
/*********Header*********/
/************************/

header h3 {
  color: var(--color-text-unobtrusive-more);
  font-weight: normal;
  padding-bottom: 0.5em;
}

header a {
  text-decoration: none;
}

/************************/
/*********Footer*********/
/************************/

footer {
  color: var(--color-text-unobtrusive);
  font-size: 0.9em;
}

header a {
  text-decoration: none;
}

/************************/
/*********Contact********/
/************************/

.contact-message {
  width: 100%;
  display: block;
  padding: .5em 1%;
  margin-bottom: 1.5em;
  font-size: 1em;
  height: 10em;
}

.contact-email {
  width: 100%;
  display: block;
  padding: .5em 1%;
  margin-bottom: 1.5em;
  font-size: 1em;
}

form .error {
  color: red;
  display: none;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}


/************************/
/*********Posts**********/
/************************/

.posts a {
  text-decoration: none;
}

.posts a:visited {
  color: purple;
}

.posts h3 {
  display: inline-block;
}

.posts-seperator {
  color: var(--color-text-unobtrusive-more);
  padding-top: 2em;
}

.posts li:first-of-type {
  padding-top: 0;
}

/************************/
/*********Post***********/
/************************/

pre {
  overflow-y: auto;
}

.post a:visited {
  color: purple;
}

.post ul {
  list-style-type: disc;
  list-style-position: inside;
}
