---
subtitle: personal blog
description: This is the personal blog of Frederik Dudzik
keywords: frederik dudzik, dudzik 
---
<header>
  <h3>
    <a href='/personal-blog'>personal blog</a> of <a href='/'>frederik dudzik</a>
  </h3>
</header>

<ul class="posts">
  {% for post in collections['personal-blog'] %}
    {% if current_year | default('null') != post.date | date('Y') %}
      <li class="posts-seperator">
        <span>
          {{ post.date | date('Y') }}
        </span>
      </li>
    {% endif %}
    <li>
      {% set current_year = post.date | date('Y') %}
      <a href="/{{ post.path }}"> 
        <h3>{{post.headline}}</h3>
      </a>
    </li>
  {% endfor %}
</ul>
